<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <connectionStrings>
        <add name="SqlServerConnString" providerName="System.Data.SqlClient" connectionString="Data Source=10.200.2.18\SQL2008;Initial Catalog=w55265_SYSTEM_IT;User id=stud; Password=wsiz;" />
    </connectionStrings>
</configuration>